body {
    font-family: Arial, sans-serif;
}

input,
button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-type: none;
}

li {
    padding: 8px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}